.navbar{
    background-color: rgba(255, 255, 255, 0.2);
    width:100%;
    margin:0;
    display:flex;
    flex-wrap: wrap;    
}
.navbar a{
    text-decoration: none;
    color:white;
    height: 100%;
    padding:20px;
    transition: all .3s;
}

.navbar a:hover{
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.navbar a:active{
    background-color: rgb(78, 255, 2);
}


@media screen and (max-width: 400px) {
    .navbar a{
        flex-basis: 400px;
        text-align: center;
    }
    
}